<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MainConString" connectionString="Server=DESKTOP-QQ8IFQO\SQLEXPRESS;
                                                        Initial Catalog=Newcar.com;
                                                        integrated Security=true;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

    </startup>
</configuration>